.footer-bar {
    margin-top: 20px;
    background-color: #222;
    width: 100%;
    height: 75px;
}

.footer-logo {
    position: absolute;
    left: 30px;
    bottom: 30px;
}

.footer-container {
    position: relative;
    width: 100%;
    height: 75px;
}

.copy-year {
    color: white;
    width: 70px;
    position: absolute;
    bottom: 30px;
    right: 60px;
}

.footer-links {
    color: white;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 75px;
}